body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

th {
    color: blue;
}

#active {
    color: black;
}

h1 {
    font-family: Cursive;
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
    padding-left: 30px;
}

/*부모가 id=grid 인 것만 해당 */
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    padding-left: 33px;
}

#grid #article {
    padding: 25px;
}

#button {
    text-align: left;
}

@media(max-width:700px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }
}